* {
    box-sizing: border-box;
    font-family: sans-serif;

    color: #101010;
}


.ls-task-list-form {
    width: 80%;
    margin: auto;

    padding: 10px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
}

.ls-form-group {
    position: relative;
    height: 45px;
}

.ls-form-group:nth-child(even) {
    background-color: #eaeaea;
}

.ls-form-group--header {
    background-color: #cfcfcf;
    font-weight: bold;
}

.ls-form-group--item {
    list-style-type: none;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    padding-left: 0;
    margin: 0;

    height: 100%;
}

.ls-form-group--item .ls-group--item-field {
    height: 45px;
    position: relative;

    border-right: 1px solid #8f8f8f;
    padding-left: 10px;
    padding-top: 15px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ls-form-group--item > .ls-select-field {
    width: 4em;
    text-align: center;
    padding-left: 0;
}

.ls-form-group--item > .ls-select-field > input {
    cursor: pointer;
}

.ls-form-group--item > .ls-type-field {
    width: 10%;
}

.ls-form-group--item > .ls-task_name-field {
    width: 50%;
}

.ls-form-group--item > .ls-location-field {
    width: 20%;
}

.ls-form-group--item > .ls-time-field {
    width: 20%;
    border-right: none;
}