* {
    box-sizing: border-box;
    font-family: sans-serif;

    color: #101010;
}


.fm-form-group--add-task {
    display: none;
}

.fm-task-dialog {
    z-index: 1;
    border-radius: 4px;
    border-color: #333333;
    border-width: 2px;
}

.fm-task-dialog > .fm-task-form {
    padding-right: 50px;
    padding-left: 50px;
}

.fm-form-group {
    margin-bottom: 12px;
}

.fm-form-group > .fm-form__field-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-items: center;
    
    position: relative;
}

.fm-form__field-label > .fm-field-label__title {
    width: 120px;
    text-align: right;
    padding-right: 10px;

    font-size: 15px;
}

.fm-form__field-label > .fm-text__input {
    width: 300px;
}

.fm-form__field-label > input {
    height: 25px;
}

.fm-form__field-label > .fm-form__field-comment {
    resize: none;
    height: 100px;
}

.fm-form__field-label > .comment__title-block {
    align-self: flex-start;
}

.fm-form__field-label :last-child {
    right: 0;
}

.fm-form-group .fm-btn-submit {
    margin-left: 120px;
    min-width: 70px;

    text-align: center;
    font-size: 16px;

    cursor: pointer;

    border-radius: 2px;
    border: 1px solid #c1c1c1;

    background-color: #c7e0ec;
    padding: 4px 14px;
}


.fm-task-dialog > .fm-dialog__header {
    margin-bottom: 10px;
    text-align: right;
}

.fm-dialog__header .fm-close-btn {
    cursor: pointer;

    width: 25px;
    height: 25px;

    border: none;
    outline: none;

    --weight: 1px;
    --aa: 1px;
    --color: #c53434;

    background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));

}


.fm-form-group > .fm-error-msg {
    margin-left: 120px;

    font-size: 14px;
    color: #dc4c4c;
}